<div class="about-container">
    <h1>Sobre a Aplicação</h1>
    <p>Esta aplicação é uma demonstração de integração com a API Pokémon. Ela permite visualizar uma lista de Pokémon e
        exibir detalhes de cada um deles.</p>
    <p>A API Pokémon fornece dados detalhados sobre Pokémon, incluindo informações como nome, habilidades, tipos e muito
        mais.</p>
    <p>Esta aplicação utiliza Angular para o frontend e consome os dados da API Pokémon para exibir as informações.</p>
    <p>Para mais informações sobre a API Pokémon, visite o <a href="https://pokeapi.co/docs/v2" target="_blank">site
            oficial da PokéAPI</a>.</p>
    <h2>Desenvolvedor</h2>
    <p>Desenvolvido por Gabriel Jony</p>
    <p>Conheça mais sobre mim no <a href="https://www.linkedin.com/in/gabrieljony" target="_blank">LinkedIn</a>.
    </p>
</div>