<nav class="navbar">
    <div class="navbar-content">
        <a class="logo" routerLink="/">Pokémon Web</a>
        <ul class="nav-links">
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/pokemon/list" routerLinkActive="active">Pokémon List</a></li>
            <li><a routerLink="/pokedex" routerLinkActive="active">Pokédex</a></li>
            <li><a routerLink="/games" routerLinkActive="active">Jogos</a></li>
            <li><a routerLink="/tv" routerLinkActive="active">TV</a></li>
            <li><a routerLink="/cards" routerLinkActive="active">Cards</a></li>
            <li><a routerLink="/news" routerLinkActive="active">Notícias</a></li>
            <li><a routerLink="/play" routerLinkActive="active">Jogar Online</a></li>
            <li><a routerLink="/movies" routerLinkActive="active">Filmes</a></li>
            <li><a routerLink="/shop" routerLinkActive="active">Loja</a></li>
        </ul>
    </div>
</nav>