<div class="pokemon" *ngIf="pokemon"
    [ngStyle]="{ 'background': 'linear-gradient(to bottom right, ' + cor1 + ', ' + cor2 + ')' }">
    <h2>{{ pokemon.name | uppercase }}</h2>
    <div class="id">
        {{ formatNumber(pokemon.id) }}
    </div>
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
    <p>Altura: {{ pokemon.height }}</p>
    <p>Peso: {{ pokemon.weight }}</p>
    <div *ngFor="let type of pokemon.types" class="pokemon-type" [ngClass]="type.type.name">
        <span>{{ type.type.name | uppercase }}</span>
    </div>
</div>